/* two google fonts
my own color pallete
*/
:root {
    --primary-color: #ddcad9;
    --background-color:#390855;
    --font1-color: #FFFFFF;
    --font2-color: #000000;
}

/*
--heading-font: ;
--paragraph-font: ;
*/

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
li, p{
    color: black;
}
header,
main,
footer {
    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid var(--background-color);
    max-width: 640px;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    padding: 5px;

}

nav {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background: var(--background-color);
    border-radius: 15px;
}
nav a {
    padding: 1em;
    margin: 1em;
    color: #FFFFFF;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

section {
    padding: 1rem;
    border-radius: 15px;
}

ul {
    border-radius: 15px;
}
li {
    list-style: none;
}

h2 {
    color: var(--font1-color);
    background-color: var(--background-color);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    color: var(--font1-color);
}

#week-box {
    display: grid;
    grid-template-columns: 1fr;
}

.week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background: var(--font1-color);
    border-radius: 15px;
    margin: 1em;
}