/* two google fonts
my own color pallete
*/

/*
--heading-font: ;
--paragraph-font: ;
*/

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
li, p{
    color: black;
}
header,
main,
footer {
    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid #2c085f;
    max-width: 640px;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    padding: 5px;

}

nav {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background:  #2c085f;
    border-radius: 15px;
}
nav a {
    padding: 1em;
    margin: 1em;
    color: #FFFFFF;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

section {
    padding: 1rem;
    border-radius: 15px;
}

ul {
    border-radius: 15px;
}
li {
    list-style: none;
}

h2 {
    color: white;
    background-color:  #2c085f;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    color: black;
}

#week-box {
    display: grid;
    grid-template-columns: 1fr;
}

.week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background: white;
    border-radius: 15px;
    margin: 1em;
}