/*
lets get color variables we can copy paste into the website
lets get the fonts figured out
lets get the grids down
*/

:root {
    --gunmetal: #05303B;
    --cerulean: #24749f;
    --celestial-blue: #5B96C2;
    --viridian: #34765d;
    --forest-green: #38893c;
    --sbgus-green: #6BE23C;
    --atomic-tangerine: #DE8F6E;
    --violet: #58355E;
}
body{
    background: rgb(208, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
}

main, header, footer {
    max-width: 750px;
    margin: 1rem auto;
    padding: 1rem;
    background: white;
}

#schema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    color: black;
    gap: 2em;
    margin: 1rem auto;
}
p, h2 {
    color: white
}

#schema div {
    padding: 1rem;
    border-radius: 15px;
}

#schema div p:first-of-type, #schema div h2:first-of-type{
    color: black
}
#typography{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.font1 {
    font-family: 'Inconsolata';
}
.font2 {
    font-family: 'Kanit';
}
.font3 {
    font-family: 'Montserrat';
}
.color1{
    color: var(--gunmetal)
}
.color2{
    color: var(--cerulean);
}
.color3{
    color: var(--forest-green);
}
.color4{
    color: var(--sbgus-green);
}
.color5{
    color: var(--atomic-tangerine);
}
.color6{
    color: var(--violet);
}
.box1 {
    background: var(--gunmetal);
}
.box2 {
    background: var(--cerulean);
}
.box3 {
    background: var(--forest-green);
}
.box4 {
    background: var(--sbgus-green);
}
.box5 {
    background: var(--atomic-tangerine);
}
.box6 {
    background: var(--violet);
}