/* min width media query*/

@media screen and (min-width:640px) {
    body {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        margin: 0 auto;
        text-align: center;
    }

    body,
    footer,
    header,
    main,
    nav {
        max-width: 1200px;
    }

    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #burger {
        display: none;
    }

    #content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        gap: 1em;
    }

    #content h2 {
        grid-column: span 2;
    }

    #activitiesbox {
        grid-column: 1;
    }

    #aside {
        grid-column: 2;
    }

    #herolabel p {
        font-size: 2rem;
        position: absolute;
        color: white;
    }

    picture {
        align-items: center;
    }

    picture img {
        width: 95%;
        height: auto;
        border-radius: 20px;
        padding: 10px;
    }

    #herolabel p {
        right: 55px;
    }

    nav a {
        display: contents;
        text-align: center;
        padding: 1em;
        margin: 1em;
        color: #FFFFFF;
    }
}